* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-text-primary: #3a3a3a;
    --color-white: #ffffff;
    --color-liner-gradient-tint: #c0ccda1a;
    --color-liner-gradient-shade: #c0ccda99;
    --color-popular-collection-headline: #18191f;
    --color-popular-collection-text: #787885;
    --color-black: #000000;
    --color-price: rgba(0, 0, 0, 0.871);
    --color-rating-number: #5e6366;
    --color-rating-star: #fb8200;
    --color-btn: #e02c6dde;
    --color-featured-products-headline: #0a0826;
    --color-featured-text: #6c6c6c;
    --color-copyright-text: #d9dbe1;
    --color-footer-bg: #0a0826;
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-text-primary);
    font-family: 'Poppins', sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Reset */

a:link,
a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ======================
    Common Style 
=========================*/

/* Container */

.container-header {
    max-width: 120rem;
    margin: 0 auto;
}

.container-fluid {
    max-width: 111rem;
    margin: 0 auto;
}

.container {
    max-width: 105rem;
    margin: 0 auto;
}

/* Layout Model */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

/* Text Align */

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* Heading */

.headline-primary {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.heading-secondary {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

.heading-tertiary {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
    display: inline-block;
    cursor: pointer;
    border: none;
    line-height: 1.4;
    transition: background-color 0.3s;
}

.btn i.fa {
    margin-left: 8px;
}

.btn-more:link,
.btn-more:visited {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-btn);
}

.btn-order:link,
.btn-order:visited,
.btn-join:link,
.btn-join:visited {
    color: var(--color-white);
    border-radius: 41px;
    padding: 1rem 2.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--color-btn);
}

.btn-order:link,
.btn-order:visited {
    border-radius: 41px;
}

.btn-order:hover,
.btn-order:active {
    background-color: rgba(224, 44, 109, 0.80);
}

.btn-join:link,
.btn-join:visited {
    border-radius: 1px;
}

.btn-join:hover,
.btn-join:active {
    background-color: rgba(224, 44, 109, 0.80);
}

/* Space */

.margin-b-30 {
    margin-bottom: 3rem;
}

.margin-t-50 {
    margin-top: 5rem;
}