* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-text-primary: rgba(58, 58, 58, 1);
    --color-white: rgba(255, 255, 255, 1);
    --color-liner-gradient-tint: rgba(192, 204, 218, 0.1);
    --color-liner-gradient-shade: rgba(192, 204, 218, 0.6);
    --color-popular-collection-headline: rgb(24, 25, 31);
    --color-popular-collection-text: rgb(120, 120, 133);
    --color-black: rgba(0, 0, 0, 1);
    --color-price: rgba(0, 0, 0, 0.87);
    --color-rating-number: rgba(94, 99, 102, 1);
    --color-rating-star: rgb(251, 130, 0);
    --color-btn: rgba(224, 44, 109, 0.87);
    --color-cta-headline: rgba(10, 8, 38, 1);
    --color-featured-text: rgba(108, 108, 108, 1);
    --color-copyright-text: rgb(217, 219, 225);
    --color-footer-bg: rgba(10, 8, 38, 1);
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-weight: 400;
    color: var(--color-text-primary);
    font-family: 'Poppins', sans-serif;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Reset */

a:link,
a:visited {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ======================
    Common Style 
=========================*/

/* Container */

.container-header {
    max-width: 120rem;
    margin: 0 auto;
}

.container-fluid {
    max-width: 111rem;
    margin: 0 auto;
}

.container {
    max-width: 105rem;
    margin: 0 auto;
    padding: 10rem 0;
}

/* Layout Model */

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

/* Text Align */

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

/* Heading */

.headline-primary {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
    background-color: var(--color-btn);
    display: inline-block;
    cursor: pointer;
    border: none;
    line-height: 1.4;
    transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
    background-color: rgba(224, 44, 109, 0.80);
}

.btn i.fa {
    margin-left: 8px;
}