/* 
    font-family: 'Inter', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

/*  
1. -- Header
        # Text Logo
        # Main Navigation
        # Navigation Meta

2. -- Section Hero
        # Hero Text Box
        # Hero Image Box

3. -- Section Featured
        # As Seen As

4. -- Section Popular Collection
        # Popular Collection Block
        # Popular Collection More
*/

/* Header */
.header-wrapper {
    grid-template-columns: 3fr 7fr 1fr;
    align-items: center;
    column-gap: 3.4rem;
    padding: 3rem 0;
}

.site-url:link,
.site-url:visited {
    display: inline-block;
    color: var(--color-text-primary);
}

.text-logo {
    font-size: 2.4rem;
    font-weight: 700;
}

.nav-list {
    gap: 3.4rem;
    align-items: center;
    justify-content: flex-end;
}

.nav-list--link:link,
.nav-list--link:visited {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-text-primary);
}

.nav-meta {
    gap: 3.4rem;
    justify-self: end;
}

.nav-meta i.fa {
    font-size: 2.4rem;
    color: var(--color-black);
}

/* Section Hero */

.hero {
    grid-template-columns: 1fr 1fr;
    column-gap: 13rem;
    margin-top: 5rem;
    margin-bottom: 7rem;
    align-items: center;
    justify-content: center;
}

.hero--description {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.3;
    margin-bottom: 1.6rem;
}

.btn-order:link,
.btn-order:visited {
    color: var(--color-white);
    border-radius: 41px;
    padding: 10px 24px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--color-btn);
}

.btn-order:hover,
.btn-order:active {
    background-color: rgba(224, 44, 109, 0.80);
}

.hero--img-box {
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.hero--img-box::before {
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding-bottom: 80%;
    border: 3px solid rgba(241, 228, 255, 1);
    z-index: -2;
}

.hero-img {
    width: 80%;
    position: relative;
}

/* Section Featured */

.as-seen-as {
    grid-template-columns: repeat(7, 1fr);
    column-gap: 6rem;
    align-items: center;
    justify-items: center;
    padding: 2rem 4.5rem;
    position: relative;
}

.as-seen-as::before,
.as-seen-as::after {
    content: '';
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.as-seen-as::before {
    top: 0;
    height: .8px;
}

.as-seen-as::after {
    bottom: 0;
    height: 1px;
}

/* Section Popular Collection */

.section-popular-collection {
    padding: 10rem 0;
}

.popular-collection--block {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.single-product {
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 1.7rem 1.5rem;
}

.single-product--img {
    margin-bottom: 1.6rem;
    width: 100%;
}

.product-headline {
    font-weight: 500;
    margin-bottom: .6rem;
    color: var(--color-popular-collection-headline);
}

.single-product--price {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: .6rem;
    font-family: 'Inter', sans-serif;
    color: var(--color-price);
}

.single-product--rating {
    margin-bottom: .6rem;
}

.rating-color {
    font-size: 1.4rem;
    color: var(--color-rating-star);
}

.rating-number {
    font-family: 'Roboto', sans-serif;
    color: var(--color-rating-number);
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: .8rem;
}

.single-product--description {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    color: var(--color-popular-collection-text);
}

.popular-collection--more {
    align-items: center;
    justify-content: flex-end;
}

.btn-more:link,
.btn-more:visited {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-btn);
}